@model  Viatrax_Trial_Project.Controllers.DeviceListingViewModel
@{
    ViewBag.Title = "Divice Listing Screen";
    var DeviceList = ViewBag.DeviceList;
    var i = 0;
}
<h1>@ViewBag.Title</h1>
<br />

<div class="jumbotron ">

    <button id="btn_deviceDetails" class="btn btn-primary" type="button" onclick="window.location.href = '/Home/deviceListingDetails'">Show Devices</button>

    <br />
    @if (ViewBag.DeviceList != null)
    {
        <div class="row">

            <h2 style="background-color:darkgoldenrod; text-align:center">List of Devices</h2>
            <div class=col-md-12>

                <table class="table">
                    <tr>
                        <th style="text-align:center">diviceid</th>
                        <th style="text-align:center">keycode</th>
                        <th style="text-align:center">last report time</th>
                        <th style="text-align:center">gps coordinates</th>
                        <th style="text-align:center">voltage </th>

                    </tr>
                    @*@if (ViewBag.DeviceList != null)
                        {
                        }*@
                    @foreach (var item in DeviceList.data)
                    {
                        <tr>

                            <td style="text-align:center">@(DeviceList.data[@i].deviceId)</td>
                            <td style="text-align:center">
                                @Html.ActionLink((string)DeviceList.data[@i].consumerKey, "DeviceDetails", "Home", new { KeyCode = @DeviceList.data[@i].consumerKey, IMEI = @DeviceList.data[@i].imei, Voltage = @DeviceList.data[@i].LastReportVoltage }, null)
                            </td>
                            <td style="text-align:center">@(DeviceList.data[@i].LastReportUpdateTime == "" ? "" : "-")</td>
                            <td style="text-align:center">@(DeviceList.data[@i].LastReportLatitude)  ,  @(DeviceList.data[@i].LastReportLongitude)</td>
                            <td style="text-align:center">@(DeviceList.data[@i].LastReportVoltage)</td>

                        </tr>

                        i++;
                    }

                </table>

            </div>
        </div>
    }

</div>




