@model  Viatrax_Trial_Project.Controllers.DeviceListingViewModel
@{
    ViewBag.Title = "Divice Listing Screen";
    var DeviceList = ViewBag.DeviceList;
    var i = 0;
}
<h1>@ViewBag.Title</h1>
<br />

<div class="jumbotron ">

   
    <div class="row">
        <button id="btn_deviceDetails" class="btn btn-primary" type="button" onclick="window.location.href = '/Home/deviceListingDetails'">Show All Devices</button>
        <div class=col-xl-12 style="float:right">
            @using (Html.BeginForm("Search", "Home", FormMethod.Get))
            {

                @Html.TextBox("DeviceID", null, new { @placeholder = "Enter Device ID or IMEI...", required = "required" }) <span> &nbsp; </span>
                <input class="btn btn-primary" style="float:right; height:30px" type="submit" name="submit" value="Search" />
            }
        </div>

    </div>
    <br />
    @if (ViewBag.DeviceList != null)
    {
        <div class="row">

            <h2 style="background-color:darkgoldenrod; text-align:center">List of Devices</h2>
            <div class=col-md-12>

                <table class="table">
                    <tr>
                        <th style="text-align:center">diviceid</th>
                        <th style="text-align:center">keycode</th>
                        <th style="text-align:center">last report time</th>
                        <th style="text-align:center">gps coordinates</th>
                        <th style="text-align:center">voltage </th>

                    </tr>
                    @if (DeviceList.data != null)
                    {
                        foreach (var item in DeviceList.data)
                        {
                            <tr>

                                <td style="text-align:center">@(DeviceList.data[@i].deviceId)</td>
                                <td style="text-align:center">
                                    @Html.ActionLink((string)DeviceList.data[@i].consumerKey, "DeviceDetails", "Home", new { KeyCode = @DeviceList.data[@i].consumerKey, IMEI = @DeviceList.data[@i].imei, Voltage = @DeviceList.data[@i].LastReportVoltage }, null)
                                </td>
                                <td style="text-align:center">@(DeviceList.data[@i].LastReportReceivedTime )</td>
                                <td style="text-align:center">@(DeviceList.data[@i].LastReportLatitude)  ,  @(DeviceList.data[@i].LastReportLongitude)</td>
                                <td style="text-align:center">@(DeviceList.data[@i].LastReportVoltage)</td>

                            </tr>

                            i++;
                        }
                    }


                </table>

            </div>
        </div>
    }


    <div id="form4" runat="server">

        <div>
            <h1>Track Your Device</h1>
        </div>
        <div>
            <asp:TextBox ID="txt_location" TextMode="MultiLine" Width="400px" Height="70px" runat="server"></asp:TextBox>
        </div>
        <div>
            <input type="button" value="Search" onclick="getmap()">
        </div>

        <div id="map_populate" style="width:100%; height:500px; border: 5px solid #5E5454;">
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>

<script type="text/javascript">

   
    var mapcode;
    var diag;
    function initialize() {
        mapcode = new google.maps.Geocoder();
        var lnt = new google.maps.LatLng(26.45, 82.85);
        var diagChoice = {
            zoom: 9,
            center: lnt,
            diagId: google.maps.MapTypeId.ROADMAP
        }
        diag = new google.maps.Map(document.getElementById('map_populate'), diagChoice);
    }
    function getmap() {
        var completeaddress = document.getElementById('txt_location').value;
        mapcode.geocode({ 'address': completeaddress }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                diag.setCenter(results[0].geometry.location);
                var hint = new google.maps.Marker({
                    diag: diag,
                    position: results[0].geometry.location
                });
            } else {
                alert('Location Not Tracked. ' + status);
            }
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);



</script>




